/Proyecto1/Proyecto_Lienzo/nbproject/private/
/Proyecto1/Proyecto_Lienzo/build/
/Proyecto1/ServidorLiezos/nbproject/private/
/Proyecto1/ServidorLiezos/build/
/Proyecto1_Web/nbproject/private/
/Proyecto1_Web/build/
/ServidorProyecto1/nbproject/private/
/ServidorProyecto1/build/